#main{
    color: lightgreen;
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(4,4,55,1) 35%, rgba(3,45,94,1) 50%, rgba(0,176,220,1) 70%, rgba(0,195,238,1) 73%, rgba(0,186,224,1) 74%, rgba(3,45,94,1) 82%, rgba(4,4,55,1) 100%);
    padding: 15px;
    /* color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}