.formPage{
    border: 1px solid gray;
    width: 40%;
    margin: 50px auto;
    text-align: center;
}

.form>input{
    width: 50%;
    padding: 10px;
    margin: 5px;
    font-size: large;
    color: gray;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}

.submit{
    background-color: rgb(9, 5, 76);
    color: white;
    font-size: larger;
    border: none;
    
}

.bottom-btn{
    display: block;
    margin: 40px auto;
    padding: 10px;
    width: 40%;
    background-color:rgb(4, 169, 207) ;
    font-weight: bolder;
    font-size: larger;
    color: white;
    border: none;
}